* {
    font-family: 'Share Tech', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    z-index: 1;
    --primary: #FFF8DB;
    --secondary: #CF8F00;
    --text: #262626;
}

body{
    padding: 5vh 10vw;
    font-size: large;
    min-height: 100vh;
    background-color: var(--primary);
    color: var(--text);
    text-align: left;
}

h1, h2{
    font-family: 'Share Tech Mono', monospace;
    text-align: center;
    font-weight: bold;
}

hr{
    width: 65vw;
    margin: auto;
    border-color: var(--secondary);
    border-width: px;
    border-style: solid;
}

.about{
    margin: 3vh 15vw 0vh;
}

button{
    background-color: transparent;
    border-style: solid;
    border-color: var(--secondary);
    width: 12.5vw;
    height: 5vh;
    font-size: larger;
}

button:hover{
    background-color: var(--secondary);
    cursor: pointer;
    color: white;
}

button:active{
    background-color: var(--secondary);
    color: white;
}

footer{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    background:#ccc;
}

a{
    color: var(--secondary);
}

/*====={Navigation}=====*/
.pageSelect{
    margin-top: 5vh;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;
    justify-content: center;
    align-items: flex-end;
}

button.learn{
    grid-column: 1;
    grid-row: 1 / span 2;
    border-width: 2px 0px 2px 2px;
}

button.extras{
    grid-column: 3;
    grid-row: 1 / span 2;
    border-width: 2px 2px 2px 0px;
    cursor: not-allowed;
}

.links {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.links > a{
    font-size: x-large;
}

.pageSelect > hr{
    width: 35vw;
    margin: 0;
}
/*Section End*/

/*====={Portfolio}=====*/
.portfolio{
    margin-top: 3vh;
}

.folioPiece{
    display: grid;
    grid-template-columns: 16vw 2fr 2fr 1fr;
    grid-template-rows: min-content auto min-content min-content;
    padding: 1vw 15vw 0vw;
}

.pieceImg{
    grid-column: 1;
    grid-row: 1 / span 3;
    margin-right: 1vw;
    width: 15vw;
    border-radius: 15px;
    border-style: solid;
    border-width: 2px;
    border-color: var(--text);
    text-align: center;
}

.pieceTitle{
    grid-column: 2 / span 2;
    grid-row: 1;
}

.pieceCata{
    grid-column: 4;
    grid-row: 1;
    text-align: right;
}

.pieceText{
    grid-column: 2 / span 3;
    grid-row: 2;
}

.pieceLinks{
    grid-column: 2;
    grid-row: 3;
}

.pieceDates{
    grid-column: 3 / span 2;
    grid-row: 3;
    text-align: right;
}

.pieceDivide{
    grid-column: 1 / span 4;
    grid-row: 4;
    margin-top: 1vw;
}

i{
    color: var(--text);
}

i:active{
    color: var(--secondary);
}

.pieceCata > i{
    cursor: help;
    color: var(--text);
}

/*Section End*/

/*====={Splash Screen}=====*/
.splash{
    position: fixed;
    top: 0;
    left: 0;
    background: var(--primary);
    z-index: 200;
    line-height: 100vh;
    width: 100vw;
    height: 100vh;
    text-align: center;
    color: var(--text);
    font-size: 10vw;
}

.splash.display-none{
    position: fixed;
    opacity: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: var(--primary);
    z-index: -10;
    text-align: center;
    line-height: 100vh;
    transition: all 0.5s;
}

@keyframes fadeIn{
    to{
        opacity: 1;
    }
}

.fade-in{
    font-family: 'Share Tech Mono', monospace;
    opacity: 0;
    animation: fadeIn 1s ease-in forwards;
}

div.cover{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 201;
}
/*Section End*/

/*====={Media Query For Small Screens}=====*/
@media only screen and (max-width: 1200px) {
    body{padding: 3vh 5vw;}
    .about{margin: 2vh 10vw 0vh;}
}

@media only screen and (max-width: 900px) {
    body{padding: 1vh 1vw; font-size: medium;}
    .about{margin: 1vh 5vw 0vh;}
    button{font-size: medium;}
    .links > a{font-size: larger;}
    .folioPiece{grid-template-columns: 2fr 2fr 1fr; grid-template-rows: min-content min-content auto min-content min-content;}
    .pieceImg{grid-column: 1 / span 3; grid-row: 1; width: 100%; margin: 1vh 0;}
    .pieceTitle{grid-column: 1 / span 2; grid-row: 2;}
    .pieceCata{grid-column: 3; grid-row: 2;}
    .pieceText{grid-column: 1 / span 3; grid-row: 3;}
    .pieceLinks{grid-column: 1; grid-row: 4;}
    .pieceDates{ grid-column: 2 / span 2; grid-row: 4;}
    .pieceDivide{grid-column: 1 / span 3; grid-row: 5;}
}
/*Section End*/