:root {
    --background: #282828;
    --altbackground: #3c3836;
    --text: #ebdbb2;
    --alttext: #bdae93;
    --red: #cc241d;
    --green: #98971a;
    --yellow: #d79921;
    --blue: #458588;
    --purple: #b16286;
    --aqua: #689d6a;
    --orange: #d65d0e;
    --gray: #a89984;
}

* {
    font-family: "IBM Plex Mono", monospace;
    font-weight: 400;
    font-style: normal;
    color: var(--text);
    margin: 0;
    z-index: 1;
}

body {
    background-color: var(--background);
    padding: 2vh 25vw;
}

h1 {
    font-family: "IBM Plex Mono", monospace;
    font-weight: 700;
    font-style: normal;
    font-size: 6rem;
    text-align: center;
}

h2 {
    font-family: "IBM Plex Mono", monospace;
    font-weight: 300;
    font-style: italic;
    color: var(--alttext);
    font-size: 1.5rem;
    text-align: center;
}

h6 {
    font-family: "IBM Plex Mono", monospace;
    font-weight: 300;
    font-style: normal;
    font-size: 0.75rem;
}

.page {
    background-color: var(--background);
    display: grid;
    border: double var(--gray); 
    grid-template-columns: 1fr 1fr 4fr;
    grid-template-areas:
        "online clock clock"
        "title title title"
        "me about about"
        ". . ."
        ". . ."
        ". . ."
    ;
}

.online {
    grid-area: online;
    border-bottom: double var(--gray); 
    border-right: 2px dashed var(--gray);
}

.clock {
    grid-area: clock;
    border-bottom: double var(--gray); 
}

.title {
    grid-area: title;
    padding: 0 1vw;
}

.me {
    grid-area: me;
    margin: 3vh 0 1vh 1vw;
    border: double var(--gray);
}

.me img {
    width: 100%;
}

.about {
    grid-area: about;
    margin: 3vh 1vw 1vh 0;
    padding: 1vh;
    border: double var(--gray); 
}