:root {
    --background: #282828;
    --altbackground: #3c3836;
    --text: #ebdbb2;
    --alttext: #bdae93;
    --red: #cc241d;
    --green: #98971a;
    --yellow: #d79921;
    --blue: #458588;
    --purple: #b16286;
    --aqua: #689d6a;
    --orange: #d65d0e;
    --gray: #a89984;
}

* {
    font-family: "IBM Plex Mono", monospace;
    font-weight: 400;
    font-style: normal;
    color: var(--text);
    margin: 0;
    z-index: 1;
}

body {
    background-color: var(--background);
    padding: 2vh 30vw;
}

h1 {
    font-family: "IBM Plex Mono", monospace;
    font-weight: 700;
    font-style: normal;
    font-size: 6rem;
    text-align: center;
}

h2 {
    font-family: "IBM Plex Mono", monospace;
    font-weight: 300;
    font-style: italic;
    color: var(--alttext);
    font-size: 1.5rem;
    text-align: center;
}

h3 {
    font-family: "IBM Plex Mono", monospace;
    font-weight: 400;
    color: var(--text);
    font-size: 1.4rem;
    text-align: center;
}

h4 {
    font-family: "IBM Plex Mono", monospace;
    font-weight: 700;
    color: var(--orange);
    font-size: 1.4rem;
}

h5 {
    font-family: "IBM Plex Mono", monospace;
    font-weight: 300;
    font-style: italic;
    font-size: 1rem;
    text-align: right;
}

h6 {
    font-family: "IBM Plex Mono", monospace;
    font-weight: 300;
    font-style: normal;
    font-size: 0.75rem;
}

/*====={Header}=====*/
.header {
    background-color: var(--background);
    display: grid;
    border: double var(--gray); 
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-areas:
        "online clock clock"
        "title title title"
    ;
}

.online {
    grid-area: online;
    border-bottom: double var(--gray); 
    border-right: 2px dashed var(--gray);
}

.clock {
    grid-area: clock;
    border-bottom: double var(--gray); 
}

.title {
    grid-area: title;
    padding: 1vh 1vw;
}
/*Section End*/

/*====={Page}=====*/
.page {
    display: grid;
    margin-top: 2vh;
    ;
}

.navigation button {
    background-color: var(--background);
    border: double var(--gray);
    border-width: 3px 3px 0;
    padding: 0.3rem 0.7rem;
    cursor: pointer;
}

.content {
    background-color: var(--background);
    border: double var(--gray);
    border-width: 0 3px 3px;
}
/*Section End*/