:root {
    --background: #282828;
    --altbackground: #3c3836;
    --text: #ebdbb2;
    --alttext: #bdae93;
    --red: #cc241d;
    --green: #98971a;
    --yellow: #d79921;
    --blue: #458588;
    --purple: #b16286;
    --aqua: #689d6a;
    --orange: #d65d0e;
    --gray: #a89984;
}

* {
    font-family: "IBM Plex Mono", monospace;
    font-weight: 400;
    font-style: normal;
    color: var(--text);
    margin: 0;
    z-index: 1;
}

body {
    background-color: var(--background);
    padding: 2vh 30vw;
}

/*====={Text}=====*/
h1 {
    font-family: "IBM Plex Mono", monospace;
    font-weight: 700;
    font-style: normal;
    font-size: 6rem;
    text-align: center;
}

h2 {
    font-family: "IBM Plex Mono", monospace;
    font-weight: 300;
    font-style: italic;
    color: var(--alttext);
    font-size: 1.5rem;
    text-align: center;
}

h3 {
    font-family: "IBM Plex Mono", monospace;
    font-weight: 400;
    color: var(--text);
    font-size: 1.4rem;
    text-align: center;
}

h4 {
    font-family: "IBM Plex Mono", monospace;
    font-weight: 700;
    font-style: italic;
    color: var(--orange);
    font-size: 1.4rem;
    text-align: right;
}

h5 {
    font-family: "IBM Plex Mono", monospace;
    font-weight: 300;
    font-style: italic;
    font-size: 1rem;
}

h6 {
    font-family: "IBM Plex Mono", monospace;
    font-weight: 300;
    font-style: normal;
    font-size: 0.75rem;
}

p {
    font-size: 1.2rem;
}
/*Section End*/

/*====={Header}=====*/
.header {
    background-color: var(--background);
    display: grid;
    border: double var(--gray);
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-areas:
        "online clock clock"
        "title title title"
    ;
}

.online {
    grid-area: online;
    border-bottom: double var(--gray); 
    border-right: 2px dashed var(--gray);
    text-align: center;
}

.clock {
    grid-area: clock;
    border-bottom: double var(--gray); 
}

.title {
    grid-area: title;
    padding: 1vh 1vw;
}
/*Section End*/

/*====={Footer}=====*/
.footer {
    background-color: var(--background);
    border: double var(--gray); 
    padding: 1rem 2rem;
    text-align: center;
}
/*Section End*/

/*====={Page}=====*/
.page {
    display: grid;
}

.navigation button {
    background-color: var(--background);
    border: double var(--gray);
    border-width: 3px 3px 0;
    margin-top: 4vh;
    margin-right: 0.4rem;
    padding: 0.3rem 0.7rem;
    cursor: pointer;
}

.navigation button:hover {
    border-color: var(--aqua);
}

.content {
    background-color: var(--background);
    border: double var(--gray);
    border-width: 3px 3px 3px;
    padding: 0 2rem 1rem;
    margin-bottom: 4vh;
}
/*Section End*/

/*====={Portfolio}=====*/
.portfolio {
    display: grid;
    padding: 1rem;
    grid-template-columns: auto 3fr min-content;
    grid-template-rows: auto 1fr;
    grid-template-areas:
        "cover project date"
        "cover desc skills"
    ;
}

.portfolio:hover {
    border-color: var(--aqua);
}

.cover {
    grid-area: cover;
    border: double var(--gray);
    width: 8vw;
}

.project {
    grid-area: project;
    font-size: 3rem;
    text-decoration: underline;
}

.date {
    grid-area: date;
    margin: auto 0 auto 1rem;
}

.desc {
    grid-area: desc;
    padding: 1rem 1rem 0;
}

.skills {
    grid-area: skills;
    border-left: solid var(--gray) 2px;
    margin-top: 1rem;
    padding-left: 1rem;
    text-decoration: dotted;
    overflow-wrap: anywhere;
}
/*Section End*/